<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="first" class = "org.example.First" autowire="byType">
<!--<property name ="age" value ="50"> </property>-->
<!--    <property name ="lap" ref ="lap1"> </property>-->

<!--    <constructor-arg type = "int" value = "10"> </constructor-arg> When we have to different values-->
<!--    <constructor-arg type = "org.example.Laptop" ref="lap1"> </constructor-arg>When we have to different values-->

<!--    <constructor-arg name = "age" value = "10"> </constructor-arg>-->
<!--    <constructor-arg name = "lap" ref="lap1"> </constructor-arg>-->
<!--    <constructor-arg name = "a" value = "20"> </constructor-arg> here we have 2 int so thats why used name one more solution is below-->

<!--    <constructor-arg index = "0" value = "10"> </constructor-arg>-->
<!--    <constructor-arg index = "1" ref="lap1"> </constructor-arg>-->
<!--    <constructor-arg index = "2" value = "20"> </constructor-arg>-->

<!--      <property name="com" ref="Lap"> </property>-->

    </bean>

<!--        <bean id="lap" class="org.example.Laptop">-->

<!--       </bean>-->
    <bean id="com" class="org.example.Desktop">

    </bean>
    </beans>